{% extends 'base.html.twig' %}

{% block title %}Hello BookController!
{% endblock %}

{% block body %}

    todo:
        login
        add user to the book
        
	<div>
		<h2>
			Upload a book to the database
		</h2>

		{{form(upload_form)}}
	</div>

{% endblock %}
