{% extends 'base.html.twig' %}

{% block title %}Hello BookListController!
{% endblock %}

{% block body %}

	<div>{{book.title}}</div>
	<div>{{book.author}}</div>
	<div>{{book.isbn}}</div>

{% endblock %}
