{% extends 'base.html.twig' %}

{% block title %}Hello BookController!
{% endblock %}

{% block body %}
        
	<div>
		<h2>
			Upload a book to the database
		</h2>

		{{form(upload_form)}}
	</div>

{% endblock %}
